<div class="center jumbotron">
  <h1>La dream team</h1>
  <%= image_tag("https://www.logolynx.com/images/logolynx/12/126e19429260080e260153cfe37b5670.jpeg", class: "img-responsive-center", :alt => "Dream Team Logo") %>

  <h2>Team Marseille</h2>

  <p>Ici un petit descriptif de la team.<br>
  </p>
</div>

<div class="jumbotron" style="background-color:#e3aef2;">
  <p>Autre zone avec quelques détails sur la team, son travail et donc une liste à points :
  </p>
  <ul>
    <li>Racontez les étapes de travail ici</li>
    <li>Racontez les étapes de travail ici</li>
    <li>Racontez les étapes de travail ici</li>
    <li>Racontez les étapes de travail ici</li>
    <li>Racontez les étapes de travail ici</li>
    <li>Racontez les étapes de travail ici</li>
  </ul>
</div>

<div class="jumbotron" style="background-color:#aee2f2;">

  <p>Autre zone utile ;)</p>

  <p>Autre zone utile ;)</p>
</center>

<%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Ruby_On_Rails_Logo.svg/411px-Ruby_On_Rails_Logo.svg.png", class: "img-responsive-center", :alt => "Logo Rails") %>

<p>Autre zone utile ;)</p>
</div>

<h2>Pour aller plus loin et en savoir plus</h2>
<div class="jumbotron" style="background-color:#f2e3ae;">

<ul>
  <li><%= link_to 'Plus d\'info sur ce site', about_path %></li>
  <li><%= link_to 'Plus d\'info sur moi', me_path %></li>
  <li><%= link_to 'Contact', contact_path %></li>
</ul>

<p><%= link_to '<- Retourner sur la page d\'accueil', root_path %></p>
</div>
