<div class="center jumbotron">
  <h1>Contact</h1>
  <%= image_tag("http://pngimg.com/uploads/mailbox/mailbox_PNG19.png", class: "img-responsive-center", :alt => "Contact") %>

  <p>Quelques contacts très utiles</p>
</div>

<h2>Me contacter</h2>
<div class="jumbotron" style="background-color:#edaef2;">

  <ul>
    <li><%= link_to 'L\'humeur du jour', "https://www.instagram.com/l.humeur.du.jour/" %></li>
    <li><%= link_to 'Un peu de détente avec #Putaclic !', "http://putaclic.aixit.fr/" %></li>
  </ul>
</div>

<h2>Autres contacts utiles</h2>
<div class="jumbotron" style="background-color:#aed4f2;">

  <ul>
    <li><%= link_to 'Nom du lien', "#" %></li>
    <li><%= link_to 'Nom du lien', "#" %></li>
    <li><%= link_to 'Matignon', "tel:+33142758000" %></li>
  </ul>
</div>

<div class="jumbotron" style="background-color:#f2e3ae;">

  <p><%= link_to '<- Retourner sur la page d\'accueil', root_path %></p>
</div>
